<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap" rel="stylesheet">
    <title>Portal - Register</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="row loginBorder">
                    <h1 class="text-center text-dark">Register</h1>
                    <form th:action="@{|/user/register|}" th:object="${user}" method="post">
                        <div class="form-group mb-3">
                            <label for="username">Username</label>
                            <input th:field="*{username}" type="text" class="form-control" id="username" placeholder="Username" onkeyup="enableSubmitCheck()">
                            <p th:text="${nameError}" id="userErrorText"></p>
                        </div>
                        <div class="form-group mb-3">
                            <label for="password">Password</label>
                            <input th:field="*{password}" type="password" class="form-control" id="password" placeholder="Password" onkeyup="enableSubmitCheck()">
                        </div>
                        <div class="form-group mb-3">
                            <label for="confirmPassword">Confirm password</label>
                            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password" onkeyup="enableSubmitCheck()">
                            <p id="passwordErrorText">Password is empty, or passwords do not match!</p>
                        </div>
                        <div class="form-check mb-4">
                            <input th:field="*{designerApplication}" type="checkbox" class="form-check-input" id="designerCheck">
                            <label class="form-check-label" for="designerCheck">I would like to apply as a designer!</label>
                        </div>
                        <div class="form-group d-flex justify-content-center mb-3">
                            <input id="submit" class="loginButtonDisabled" type="submit" value="Register" disabled>
                        </div>
                    </form>
                    <p class="loginSubtext">Already have an account? <a class="registerLink" th:href="@{/login}">Login</a></p>
                </div>
            </div>
        </div>
    </div>
<script>
    const submit = document.getElementById("submit");

    const enableSubmitCheck = () => {
        checkUsername();
        checkPassword();
        if (checkUsername() && checkPassword()) {
            submit.removeAttribute("disabled");
            submit.classList.remove("loginButtonDisabled");
            submit.classList.add("loginButton");
        } else {
            submit.classList.remove("loginButton");
            submit.classList.add("loginButtonDisabled");
            submit.setAttribute("disabled", "disabled");
        }
    }
    const checkUsername = () => {
        let userName = document.getElementById("username").value;
        if (userName === '') {
            submit.setAttribute("disabled", "disabled");
            return false
        } else {
            submit.removeAttribute("disabled");
            return true
        }
    }

    const checkPassword = () => {
        let password = document.getElementById("password").value;
        let confirmPassword = document.getElementById("confirmPassword").value;
        let error = document.getElementById("passwordErrorText");
        if (password !== confirmPassword || password === '') {
            error.style.display = "block";
            submit.setAttribute("disabled", "disabled");
            return false
        } else {
            error.style.display = "none";
            submit.removeAttribute("disabled");
            return true
        }
    }
</script>
</body>
</html>