<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9b47d8e8a9.js" crossorigin="anonymous"></script>
    <title>Portal - Login</title>
</head>
<body>

<div th:replace="fragments/header :: header">Header</div>

<div class="container content">
    <div class="subscribe-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="text-center text-dark">Become a Subscriber</h1>
        <p class="text-center text-dark">choose a subscription plan</p>
        <div class="container">
            <div class="row">
                <div th:if="${trialAvailable}" class="card-sub col-sm mb-4 box-shadow">
                    <div class="card-header-sub">
                        <h4 class="my-0 font-weight-normal">7 Day trial</h4>
                    </div>
                    <div class="card-body-sub">
                        <h1 class="card-title-sub text-dark">
                            €0
                        </h1>

                        <ul class="text-center ">
                            <li><h2>7 days of full access</h2></li>
                            <li><h2>3GB of Wardrobe storage</h2></li>
                            <li><h2>Complete Help Center</h2></li>
                        </ul>
                    </div>
                    <div class="mt-3 mb-4">
                        <a class="buttonSmall" sec:authorize="isAuthenticated()" th:href="@{/user/subscribe/trial}">Activate</a>
                        <a class="buttonSmall" sec:authorize="isAnonymous()" th:href="@{/login}">Log in to subscribe</a>
                    </div>
                </div>

                <div class="card-sub col-sm mb-4 box-shadow selectedSubCard p-2" id="oneMonthCard" onclick="chooseSub(1, this.id)">
                    <div class="card-header-sub" id="oneMonthCardHeader">
                        <h4 class="my-0 font-weight-normal">Monthly</h4>
                    </div>
                    <div class="card-body-sub">
                         <h1 class="card-title-sub text-dark">
                             €9
                         </h1>

                        <ul class="text-center ">
                            <li><h2>A month of full access</h2></li>
                            <li><h2>3GB of Wardrobe storage</h2></li>
                            <li><h2>Complete Help Center</h2></li>
                        </ul>
                    </div>
                    <div class="mt-3 mb-4">
                        <a class="buttonSmall" hidden id="subOneMonth" sec:authorize="isAuthenticated()" th:href="@{/user/subscribe/1}">Learn More</a>
                        <a class="buttonSmall" sec:authorize="isAnonymous()" th:href="@{/login}">Log in to subscribe</a>
                    </div>
                </div>

                <div class="card-sub col-sm mb-4 box-shadow p-2" id="oneYearCard" onclick="chooseSub(2, this.id)">
                    <div class="card-header-sub">
                        <h4 class="my-0 font-weight-normal">Yearly</h4>
                    </div>
                    <div class="card-body-sub">
                        <h1 class="card-title-sub text-dark">
                            €99
                        </h1>

                        <ul class="text-center ">
                            <li><h2>One year of full access</h2></li>
                            <li><h2>3GB of Wardrobe storage</h2></li>
                            <li><h2>+ 1GB free</h2></li>
                            <li><h2>Complete Help Center</h2></li>
                        </ul>
                    </div>
                        <div class="mt-3 mb-4">
                            <a class="buttonSmall" hidden id="subOneYear" sec:authorize="isAuthenticated()" th:href="@{/user/subscribe/12}">Learn More</a>
                            <a class="buttonSmall" sec:authorize="isAnonymous()" th:href="@{/login}">Log in to subscribe</a>
                        </div>
                </div>

                <div class="card-sub col-sm mb-4 box-shadow p-2" id="threeYearCard" onclick="chooseSub(3, this.id)">
                    <div class="card-header-sub">
                        <h4 class="my-0 font-weight-normal">3 Years</h4>
                    </div>
                    <div class="card-body-sub">
                        <h1 class="card-title-sub text-dark">
                            €249
                        </h1>

                        <ul class="text-center ">
                            <li><h2>Three years of full access</h2></li>
                            <li><h2>3GB of Wardrobe storage</h2></li>
                            <li><h2>+ 2GB free</h2></li>
                            <li><h2>Complete Help Center</h2></li>
                            <li><h2>+24/7 Phone Support</h2></li>
                        </ul>
                    </div>
                        <div class="mt-3 mb-4">
                            <a class="buttonSmall" hidden id="subThreeYear" sec:authorize="isAuthenticated()" th:href="@{/user/subscribe/36}">Learn More</a>
                            <a class="buttonSmall" sec:authorize="isAnonymous()" th:href="@{/login}">Log in to subscribe</a>
                        </div>
                </div>
                <form action="https://test.bitpay.com/checkout" method="post" target="bitpay" data-bitpay-button>
                    <input type="hidden" name="action" value="checkout" />
                    <input id="priceInput" type="hidden" name="price" value="1" />
                    <input type="hidden" name="currency" value="USD" />
                    <input type="hidden" name="data" value="eU8EyRk6YCEDhavRImddX4tziUoJoKenPU0WiOT7E/CiYqx2OdH5TiBs3Ef/43pT6cvWtC2bRJXZD3engX5oDLWspy/vZn0uK20Yq5HwxiWrj5dq3Yq+qIv9sLBU9wtZxkWWa+V6JpNgAr19rKvOc9SQ30UmlbF4FXLTY4xIw8ayc+XZtRPc13pFprm/gLVUzAwoxTHBharCVn4JjkLGIAdOlRnh2dM8ep042yTF6lk=" />
                    <input type="image" src="https://test.bitpay.com/cdn/en_US/bp-btn-pay-currencies.svg" name="submit" style="width: 250px" alt="BitPay, the easy way to pay with bitcoins.">
                </form>
            </div>
        </div>
    </div>
</div>
<a class="buttonSmall" id="returnButton" hidden th:href="@{/user/subscribe}"></a>
<div class="bottom-0" th:replace="fragments/footer :: footer">Footer</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="https://bitpay.com/bitpay.min.js"></script>
<script>
    let subButtonEl;
    window.addEventListener("message", function (event) {
        payment_status = event.data.status;
        if (payment_status === "paid") {
            subButtonEl.click();
        }
    });

    const chooseSub = (price, cardId) => {
        let invoicePrice;
        const oneMonthCardEl = document.getElementById("oneMonthCard");
        const oneYearCardEl = document.getElementById("oneYearCard");
        const threeYearCardEl = document.getElementById("threeYearCard");
        switch (cardId) {
            case "oneMonthCard":
                invoicePrice = 1;
                oneMonthCardEl.classList.add("selectedSubCard");
                oneYearCardEl.classList.remove("selectedSubCard");
                threeYearCardEl.classList.remove("selectedSubCard");
                subButtonEl = document.getElementById("subOneMonth");
                break;
            case "oneYearCard":
                invoicePrice = 2;
                oneMonthCardEl.classList.remove("selectedSubCard");
                oneYearCardEl.classList.add("selectedSubCard");
                threeYearCardEl.classList.remove("selectedSubCard");
                subButtonEl = document.getElementById("subOneYear");
                break;
            case "threeYearCard":
                invoicePrice = 3;
                oneMonthCardEl.classList.remove("selectedSubCard");
                oneYearCardEl.classList.remove("selectedSubCard");
                threeYearCardEl.classList.add("selectedSubCard");
                subButtonEl = document.getElementById("subThreeYear");
                break;
        }
        document.getElementById("priceInput").setAttribute("value", invoicePrice);
    }
</script>
</body>
</html>