<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap" rel="stylesheet">
    <title>Portal - Login</title>
</head>
<body>

<div th:replace="fragments/header :: header">Header</div>

<div class="container">
    <div class="subscribe-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="text-center text-dark">Become a Subscriber</h1>
        <h2 class="text-center text dark">choose a subscription plan</h2>
        <div class="card-deck mb-3 text-center">

            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">1 Month</h4>
                </div>
                <div class="card-body">
                     <h1 class="card-title">
                         €10
                         <small class="text-muted">/ mo</small>
                     </h1>
                    <div class="mt-3 mb-4">
                        <a class="buttonSmall" sec:authorize="isAuthenticated()" th:href="@{/user/subscribe/month}">Learn More</a>
                        <a class="buttonSmall" sec:authorize="isAnonymous()" th:href="@{/login}">Log in to subscribe</a>
                    </div>
                </div>
            </div>

            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">1 Year</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title">
                        "€99"
                        <small class="text-muted">/ yr</small>
                    </h1>
                    <div class="mt-3 mb-4">
                        <a class="buttonSmall" sec:authorize="isAuthenticated()" th:href="@{/user/subscribe/month}">Learn More</a>
                        <a class="buttonSmall" sec:authorize="isAnonymous()" th:href="@{/login}">Log in to subscribe</a>
                    </div>
                </div>
            </div>

            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">3 Years</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title">
                        "€275"
                        <small class="text-muted">/ 3yrs</small>
                    </h1>
                    <div class="mt-3 mb-4">
                        <a class="buttonSmall" sec:authorize="isAuthenticated()" th:href="@{/user/subscribe/month}">Learn More</a>
                        <a class="buttonSmall" sec:authorize="isAnonymous()" th:href="@{/login}">Log in to subscribe</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>

    const checkUsername = () => {
        let userName = document.getElementById("username").value;
        if (userName === '') {
            submit.setAttribute("disabled", "disabled");
            return false
        } else {
            submit.removeAttribute("disabled");
            return true
        }
    }

    const checkPassword = () => {
        let password = document.getElementById("password").value;
        if (password === '') {
            submit.setAttribute("disabled", "disabled");
            return false
        } else {
            submit.removeAttribute("disabled");
            return true
        }
    }
</script>
</body>
</html>