<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>

</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-xl" style="background-color: #CEEEF4">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/home}">
                <img class="img-fluid" src="../../static/img/logoColor.png" th:src="@{/img/logoColor.png}" width="300"
                     height="80" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item" >
                        <a class="nav-link" th:href="@{/hub}"  th:classappend="${#httpServletRequest.getRequestURI().startsWith('/hub') ? 'selectedNav':''}">HUB</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/aboutUs}" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/aboutUs') ? 'selectedNav':''}">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/wardrobe}" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/wardrobe') ? 'selectedNav':''}">WARDROBE</a>
                    </li>
                    <div sec:authorize="isAuthenticated()">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/studio}" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/studio') ? 'selectedNav':''}">STUDIO</a>
                        </li>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/subscribe}" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/user/subscribe') ? 'selectedNav':''}">SUBSCRIBE</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <a class="buttonSmall" sec:authorize="isAnonymous()" th:href="@{/login}">Login</a>
                    <a class="buttonSmall" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
                </div>
            </div>
        </div>
    </nav>
</div>
<script th:src="@{js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/animation.js}"></script>
</body>
</html>