
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
    font-size: 72px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 50px;
}

#homeBgGradient {
    background: linear-gradient(180deg, rgba(73,94,159,1) 0%, rgba(243,133,218,1) 100%);
}

#homeBgImg {
    background-image: url("../img/homeImg.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
}

#AboutUsBgImg {
    background-color: #2c3034;
    background-image: url("../img/logo_color.png");
    height: 60vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.button {
    transition-duration: 0.6s;
    background-color: #FF4591;
    border-radius: 100px;
    padding: 20px;
    filter: drop-shadow(0px 12px 25px #4C609B);
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.button:hover {
    transition-duration: 0.6s;
    background-color: #FF4591;
    border-radius: 100px;
    padding: 25px;
    filter: drop-shadow(0px 12px 25px #DC81C6);
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.buttonSmall {
    transition-duration: 0.6s;
    background-color: #FF4591;
    border-radius: 100px;
    padding: 10px 50px;
    filter: drop-shadow(0px 12px 25px #4C609B);
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.buttonSmall:hover {
    transition-duration: 0.6s;
    background-color: #FF4591;
    border-radius: 100px;
    padding: 10px 50px;
    filter: drop-shadow(0px 12px 25px #DC81C6);
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.homeTopContent {
    margin-top: 20%;
}

.homeTopShirt {
    margin-top: 10%;
}

.homeInfo h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #071BF3;
    font-size: 85px;
}

.homeInfo p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
    font-size: 40px;
}

.homeInfo {
    margin-top: 4rem;
}

.nav-item{
    margin: 0 3rem;
}

.nav-item a{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 2.3vw;
}

@media only screen and (max-width: 500px) {
    .nav-item a{
        font-size: 5vw;!important;
    }
}

.nav-item a:hover{
    color: #071BF3;
}

.navbar-toggler{
    border-color: black;
    border-width: 3px;
}

/*.show{*/
/*    background-color: #CEEEF4;*/
/*    width: 100vw;*/
/*}*/

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand{
    margin: 0 2rem;
}

.d-flex {
    margin: 0 1rem;
}

.navbar {
    background-color: #CEEEF4;
}

footer p{
    font-size: 20px;
    color: black;
    margin-bottom: 5px;
}


footer h6{
    font-size: 25px;
    color: black;
}

footer a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.card-body p, h4, h6, a{
    font-size: initial;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: 400;
    font-size: 35px;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
    color: black;
    font-size: 20px;
}


.featurette-divider {
    margin: 2rem 0rem; /* Space out the Bootstrap <hr> more */
}

.featurette-heading {
    margin-top: 50px;
    font-weight: 400;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
}

.featurette p {
    color: black;
}




/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 1.5rem;
    }
}

@media only screen and (max-width: 1199px) {
    h1 {
        font-size: 50px;
    }

    p {
        font-size: 30px;
    }

    .homeTopContent {
        margin-top: 40%;
    }

    .homeTopShirt {
        margin-top: 20%;
    }

    .homeInfo h1 {
        font-size: 55px;
    }

    .homeInfo p {
        font-size: 30px;
    }

    #getStartedButton {
        font-size: 25px;
        padding: 15px;
    }
}

@media only screen and (max-width: 991px) {
    .homeTopShirt {
        margin-top: 45%;
    }
    .homeInfo h1 {
        font-size: 50px;
    }

    .homeInfo p {
        font-size: 25px;
    }
}

@media only screen and (max-width: 767px) {
    .shirtDiv {
        display: none;
    }
}


