<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9b47d8e8a9.js" crossorigin="anonymous"></script>
    <title>Portal - About Us</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="container-fluid">
    <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col text-center" style="background-color: #2c3034">
                        <img class="mt-5 mx-auto img-fluid"  th:src="@{/img/logoColor.png}" alt="Logo">
                        <div class="mt-5">
                            <h1>About Us</h1>
                        </div>
                    </div>
                </div>
            </div>
        <div class="container marketing text-center">

            <div class="row mt-5">
                <div class="col-lg-3">
                    <h2>STOCK</h2>
                    <p>Portal Wardrobe is meant to stock all your virtual belongings in one place. Here you can organise all the clothing you own.</p>
                </div>
                <div class="col-lg-3">
                    <h2>INSPIRE</h2>
                    <p>In the Portal Hub you can inspire others by sharing all the items you own, but also the ones you have created. You can even upload pictures wearing your clothing to inspire others.</p>
                </div>
                <div class="col-lg-3">
                    <h2>CREATE</h2>
                    <p>One of our main functions consists of being able to create your own virtual clothes. This is all possible with the Portal Studio feature.</p>
                </div>
                <div class="col-lg-3">
                    <h2>EXPRESS</h2>
                    <p>With all the clothing you own, you are able to express yourself in the online world. With our function to export your virtuel goods as AR filters, you are able to wear whatever you own, wherever you want to.</p>
                </div>
            </div>
            <div class="bounce col-lg-4 offset-lg-4 justify-content-center">
                <h4>Scroll down</h4>
                <i class="fa-solid fa-angles-down" style="font-size: 7vh"></i>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette reveal">
                <div class="col-md-6 offset-md-1 col-sm-10 offset-sm-1 mx-auto my-auto">
                    <h2 class="featurette-heading">Yana Van den Broeke. <span class="text-muted">CEO.</span></h2>
                    <p class="lead">With already a handful of impressive experiences on her resume, our CEO Yana Van den Broeke is not afraid to take on any challenges.
                       During her school career and her internships in media, she has taken on various management positions, as well as positions that required structure,
                       organisation, and dedication. With her experience, Yana leads Portal in the right direction and is ready to listen mindfully to our teammates' needs.
                        Besides managing sets, Yana is a freelance Graphic Designer who was happy to take on all our designs within Portal. </p>
                </div>
                <div class="col-md-4 mt-3 mx-auto col-sm-10 offset-sm-1">
                    <img class="img-fluid" src="../static/img/Yana.png" th:src="@{img/Yana.png}" alt="img">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette reveal">
                <div class="col-md-6 col-sm-10 offset-sm-1 order-md-2 mx-auto my-auto">
                    <h2 class="featurette-heading">Evi Adriaenssens. <span class="text-muted">CPO.</span></h2>
                    <p class="lead">This is Evi Adriaenssens. She is responsible for the strategic production direction and keeps a close eye on the ins and outs of Portal.
                        Her experience in the hospitality industry has sharpened Evi's communication skills, which she continues to exercise today in the customer service department.
                        She is driven and puts her time, love and energy into this project, making sure everything is sent out perfectly. </p>
                </div>
                <div class="col-md-4 offset-md-1 order-md-1 col-sm-10 offset-sm-1 mx-auto  mt-3">
                    <img class="img-fluid" src="../static/img/Evi.png" th:src="@{img/Evi.png}" alt="img">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette reveal">
                <div class="col-md-6 offset-md-1 col-sm-10 offset-sm-1 mx-auto my-auto">
                    <h2 class="featurette-heading">Emiel verbeckt. <span class="text-muted">CFO.</span></h2>
                    <p class="lead">Because of Emiel Verberckt's economic background and interest in finance, it was an organic decision to recruit him as CFO aboard our Portal ship.
                        During his Media & Entertain Business studies, the subjects Business Fundamentals and Business Modeling were most appealing to him which makes him blossom in the financial field within Portal.
                        Emiel takes care of everything related to numbers and is therefore a major pillar of our team.</p>
                </div>
                <div class="col-md-4 mt-3 col-sm-10 offset-sm-1 mx-auto">
                    <img class="img-fluid" src="../static/img/Emiel.png" th:src="@{img/Emiel.png}" alt="img">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette reveal">
                <div class="col-md-6 col-sm-10 offset-sm-1 order-md-2 mx-auto my-auto">
                    <h2 class="featurette-heading">Basil Crollet. <span class="text-muted">CMO.</span></h2>
                    <p class="lead">Basil Crollet is responsible for the marketing activities within Portal.
                        With his own non-profit organisation and a festival to his name, he knows better than anyone how to convince a target group and stakeholders of a concept.
                        With his smooth talk and charismatic personality, storytelling is second nature to Basil.</p>
                </div>
                <div class="col-md-4 offset-md-1 order-md-1 col-sm-10 offset-sm-1 mx-auto mt-3">
                    <img class="img-fluid" src="../static/img/Basil.png" th:src="@{img/Basil.png}" alt="img">
                </div>
            </div>

        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">Footer</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/animation.js}"></script>
</body>
</html>