<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9b47d8e8a9.js" crossorigin="anonymous"></script>
    <title>Portal - Contact</title>
</head>
<body>

<div th:replace="fragments/header :: header">Header</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center" style="background-color: #2c3034">
            <img class="mt-5 mx-auto img-fluid"  th:src="@{/img/logoColor.png}" alt="Logo">
            <div class="mt-5">
                <h1>Contact Us</h1>
            </div>
        </div>
        <div class="col-10 offset-1">
            <div class="row" style="border: 1px solid lightgray; margin-top: 3%">
                <div class="col-12">
                    <form>
                        <div class="row">
                            <div class="col-8 offset-2">
                                <p class="text-center text-dark" style="font-size: 35px">Do you have any questions? Feel free to fill in the form below or contact our team directly.</p>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-6">
                                        <input type="text" class="contactInput" id="name" name="name" placeholder="Your name">
                                        <label for="name"></label>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="contactInput" id="email" name="email" placeholder="Your email">
                                        <label for="email"></label>
                                    </div>
                                    <div class="col-12">
                                        <input type="text" class="contactInput mt-4" id="subject" name="subject" placeholder="Subject">
                                        <label for="subject"></label>

                                        <textarea type="text" class="contactInput mt-4" id="message" name="message" placeholder="Your message" rows="2"></textarea>
                                        <label for="message"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 offset-1">
                                <div class="row">
                                    <div class="col-12">
                                        <i class="fas fa-home mx-auto" style="font-size: 3vh"></i>
                                        <p class="text-dark" style="font-size: 25px">New York, NY 10012, US</p>
                                    </div>
                                    <div class="col-12">
                                        <i class="fas fa-envelope mx-auto" style="font-size: 3vh"></i>
                                        <p class="text-dark" style="font-size: 25px">info@gmail.com</p>
                                    </div>
                                    <div class="col-12">
                                        <i class="fas fa-phone mx-auto" style="font-size: 3vh"></i>
                                        <p class="text-dark" style="font-size: 25px">+01 23 45 67 89</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input class="contactSubmit" value="submit" type="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">Footer</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/animation.js}"></script>
</body>
</html>