<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9b47d8e8a9.js" crossorigin="anonymous"></script>
    <title>Portal - AboutUs</title>
</head>
<body>

<div th:replace="fragments/header :: header">Header</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col text-center" style="background-color: #2c3034">
                    <img class="mt-5 mx-auto img-fluid"  th:src="@{/img/logoColor.png}" alt="Logo">
                    <div class="mt-5">
                        <h1>Contact Us</h1>
                    </div>
                </div>
            </div>
            <div class="container marketing">


                <div class="col-lg-4">
                    <h1>Want to know more?</h1>
                    <h2 style="color: black">Feel free to call us during business hours or fill out our Contact Form.</h2>
                </div>

                <form method="post">
                    <fieldset>
                        <div class="form-group mb-3">
                            <input type="text" name="email" class="form-control form-control-md" placeholder="Enter your email" onkeyup="enableSubmitCheck()"/>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group mb-4">
                            <input type="message" id="message" name="message" class="form-control form-control-md" cols="30" rows="10" placeholder="Ask your question here" onkeyup="enableSubmitCheck()"/>
                        </div>
                    </fieldset>
                    <div class="form-group d-flex justify-content-center mb-3">
                        <input class="submitButton" id="submit" type="submit" value="Submit" disabled>
                    </div>
                </form>

                <!-- BOUNCE -->
                <div class="bounce col-lg-4 offset-lg-4 m-7 pt-7 justify-content-center">
                    <h4>Scroll down</h4>
                    <i class="fa-solid fa-angles-down" style="font-size: 7vh"></i>
                </div>

            <div class="row">
                <div class="row featurette reveal">
                    <div class="col-lg-4">
                        <h2 class="text-black"><i class="fas fa-home mr-3"></i> New York, NY 10012, US</h2>
                    </div><!-- /.col-lg-4 -->
                </div>
                <div class="row featurette reveal">
                    <div class="col-lg-4">
                        <h2 class="text-black"><i class="fas fa-envelope mr-3"></i> info@gmail.com</h2>
                    </div><!-- /.col-lg-4 -->
                </div>
                <div class="row featurette reveal">
                    <div class="col-lg-4">
                        <h2 class="text-black"><i class="fas fa-phone mr-3"></i> +01 23 45 67 89</h2>
                    </div><!-- /.col-lg-4 -->
                </div>
            </div><!-- /.row -->

            <hr class="featurette-divider">
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">Footer</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/animation.js}"></script>
</body>
</html>