<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9b47d8e8a9.js" crossorigin="anonymous"></script>
    <title>Portal - Home</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
    <div class="container-fluid">
    <div class="row">
        <div id="homeBgImg" class="bg-image">
            <div class="col-10 offset-1">
                <div class="row">
                    <div class="col-12 col-lg-6 col-md-8">
                        <div class="homeTopContent">
                            <h1>Portal</h1>
                            <p class="m-0 mb-3">We keep your clothes<br>safe until the metaverse arrives!</p>
                            <p class="mt-3 mb-3" sec:authorize="isAuthenticated()" th:text="|Welcome back, ${loginName}!|"></p>
                            <a id="getStartedButton" class="button" th:href="@{(${loginName} == '' ? '/login' : '/logout')}">Get started</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 shirtDiv">
                        <iframe class="homeTopShirt" src='https://my.spline.design/tshirtbodymaledarkcopycopy-d29d2fca2da7b8f1405891ebf7413247/' width='100%' height='100%'></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1">
            <section>
            <div class="homeInfo reveal">
                <h1>MISSION</h1>
                <p>With Portal our mission is to bring some order to the virtual world of blockchains, metaverses and NFTs.  Due to the new decentralized online
                    world that is on the way, there is a need for some structure, to put it nicely with our baseline "We keep your clothes safe until the metaverse arrives".</p>
            </div>
            </section>
            <section>
            <div class="homeInfo reveal">
                <h1>VISION</h1>
                <p>Now, we have the opportunity to help shape the future of the internet.
                    By using Portal we want to help build the future of the metaverse by creating a virtual wardrobe.</p>
            </div>
            </section>
            <section>
            <div class="homeInfo reveal">
                <h1>CONCEPT</h1>
                <p>Portal is a virtual closet where you can store all of your virtual clothing, skins and other virtual fashion items. You can visit your own, and those of others, virtual wardrobe. However you can also browse our catalogue, from there you can be redirected to the designer's site for purchases.</p>
            </div>
            </section>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">Footer</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/animation.js}"></script>
</body>
</html>