<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap"
          rel="stylesheet">
    <script src="https://kit.fontawesome.com/9b47d8e8a9.js" crossorigin="anonymous"></script>
    <title>Portal - Studio</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="container-fluid content">
    <div class="row">
        <div class="col-12 text-center" style="background-color: #2c3034">
            <h1 class="textResize">Hub</h1>
        </div>
        <div class="col-lg-6 offset-lg-3 mt-4" sec:authorize="isAuthenticated()">
            <button class="btn createPostButton" type="button" data-bs-toggle="collapse" data-bs-target="#area1" aria-expanded="false" aria-controls="area1">
                <svg id="plusIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M384 32C419.3 32 448 60.65 448 96V416C448 451.3 419.3 480 384 480H64C28.65 480 0 451.3 0 416V96C0 60.65 28.65 32 64 32H384zM224 368C237.3 368 248 357.3 248 344V280H312C325.3 280 336 269.3 336 256C336 242.7 325.3 232 312 232H248V168C248 154.7 237.3 144 224 144C210.7 144 200 154.7 200 168V232H136C122.7 232 112 242.7 112 256C112 269.3 122.7 280 136 280H200V344C200 357.3 210.7 368 224 368z"/></svg>
            </button>
            <div class="collapse multi-collapse studioCollapse" id="area1">
                <form style="text-align: center" th:action="@{|/hub|}" method="post" th:object="${socialPost}">

                    <div class="itemInfo">
                        <h1 style="color: #071BF3"> Create New Post</h1>
                        <div class="row">
                            <div class="col-xl-6 col-12">
                                <div class="infoLine">
                                    <label for="postSubject" class="infoLineName">Post Subject: </label><br>
                                    <input id="postSubject" th:field="*{subject}" required class="infoLineValue">
                                </div>
                            </div>
                            <div class="col-xl-6 col-12">
                                <div class="infoLine">
                                    <label for="item">Choose an Item:</label><br>
                                    <select id="item" name="item">
                                        <option th:each="item : ${ownedItems}" th:value=" ${item.id}" th:field="*{item}"
                                                th:text="${item.name}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-xl-6">
                                <div class="infoLine">
                                    <label for="postMessage" class="infoLineName">Post Message: </label><br>
                                    <textarea  id="postMessage" rows="6" cols="40" th:field="*{message}"  class="infoLineValue"></textarea>
                                </div>
                            </div>
                            <div class="col-12 col-xl-6">
                                <div class="infoLine">
                                    <input type="submit" value="Create Post" class="buttonSmall mb-2">
                                </div>
                                <div>
                                    <a class="postButton mb-2" th:href="@{/hub/myPosts}">My Posts</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>


        </div>
        <div class="col-lg-6 offset-lg-3 mt-4" th:each="post : ${posts}">
            <div class="card mt-4 post text-center" style="border-radius: 25px;">
                <div class="card-header" style="border-radius: 25px; background-color: #CEEEF4">
                    <h3 style="color: black; font-size: 3rem; font-weight: 700" th:text="${post.subject}">Subject</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="card" style="border-radius: 25px;">
                                <div class="card-body">
                                    <iframe th:src="${post.item.getLink()}" frameborder='0'
                                            width='100%'
                                            height='100%'></iframe>
                                    <h4 class="card-title" th:text="${post.item.getName()}"
                                        style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; padding-bottom: 6px">
                                        Title</h4>
                                    <p style="color: black; font-size: 1rem">Posted By <span th:text="${post.owner.getDisplayname()}"></span> On <span th:text="${post.creationDate}"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <p class="card-text" style="color: black; font-size: 1.8rem" th:text="${post.message}">message.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom-0" th:replace="fragments/footer :: footer">Footer</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/animation.js}"></script>
</body>
</html>