<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" th:href="@{/img/logo_color.png}">
    <title>Portal - Logout</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="row loginBorder">
                <div class="col">
                    <h1 class="text-center text-dark">See you next time!</h1>
                    <form th:action="@{/logout}" method="post">
                        <div class="form-group d-flex justify-content-center mt-5">
                            <input class="loginButton" type="submit" value="Logout">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>